/* Change arrow colors */
.swiper-button-prev,
.swiper-button-next {
  color: darkred !important; /* Make arrows red */
}

/* Change pagination dot color */
.swiper-pagination-bullet {
  background-color: darkred !important;
}

/* Active pagination dot */
.swiper-pagination-bullet-active {
  background-color: darkred !important;
}
